/*Sección contacto*/

.contacto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    ul {
        align-self: center;
        li{
            list-style: none;            
            margin-bottom:15px;
            font-size: large;
            text-align: center;
        }
    }
}