@import '../base/mixin';

footer {
    background: linear-gradient(#55dbdc, #ffff);
    div {
        display: flex;
        align-items: center;
        
        div{
            a{
                img {
                    &:hover {
                       @include aumentar (scale(1.1), 00.4s);
                    }
                }
            }
        }
    }
}