* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/static/Montserrat-Medium.ttf');
}

body{
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

h1 {
    font-size: x-large;
}

h2 {
    font-size: larger;
}