@import '../base/mixin';

/*Sección header*/

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    .busqueda {
        width: 15rem;
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
    .logo-header {
        
        a {
            img {
                width: 15rem;
                height: auto;                
            }
        }

    }
    div {
        display: flex;
        width: 15rem;
        justify-content: flex-end;         
        div {
            a {
                img {
                                      
                    &:hover {
                        @include aumentar (scale(1.1), 00.4s);
                    }
                }
            }
        }
    }
    
}