@import '../base/lists';

/* Index - Sección desctacados*/

.destacados {
    margin-bottom: 2rem;
    div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        div {           
            
            img {
                width: 15rem;
                height: auto;
                
            }
        }
    }
}

/*seccion marcas*/

.logos {
    margin-bottom: 10px;
    .brand-row {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        .brand{
            img {
                width: 10rem;
                height: auto;
            }
            
        }
    }
}

