@import '../base/lists';

/* Index - Sección desctacados*/

.destacados {
    margin-bottom: 2rem;
    div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        div {           
            
            img {
                width: 15rem;
                height: auto;
                
            }
        }
    }
}