@import '../base/lists';



.nav-bar {
    background: linear-gradient(#55dbdc, #ffff);
    div {

        div {
            ul{
                width: 100%;
                display: flex;
                flex-wrap: no-wrap;
                justify-content: space-around;

                li {
                    &:hover {
                        transform: scale(1.2);
                        transition: all 0.4s;
                    }
                    @media screen and (max-width: 990px) {
                        &:hover {
                            transform: none;
                        }
                    }
                }            
            }
        }
    }
}