@import '../base/lists';
@import '../base/mixin';


.nav-bar {
    background: linear-gradient(#55dbdc, #ffff);
    div {

        div {
            ul{
                width: 100%;
                display: flex;
                flex-wrap: no-wrap;
                justify-content: space-around;

                li {
                    &:hover {
                        @include aumentar (scale(1.2), 00.4s);
                    }
                    @media screen and (max-width: 990px) {
                        &:hover {
                            transform: none;
                        }
                    }
                }            
            }
        }
    }
}